<h2>CSS</h2>
<div>
    <p>You can detect many css style capabilities, including:</p>
    <ul class="list list--grey">
        <li>transition: <span id="css-demo-transition" class="medium "></span>, with property <span id="css-demo-return-transform" class="medium "></span></li>
        <li>transform:  <span id="css-demo-transform" class="medium "></span> </li>
        <li>translate3d: <span id="css-demo-support3D" class="medium "></span></li>
        <li>etc...</li>
    </ul>
</div>
<script>
    var detect = skyComponents.detect;
    var demoTransition = document.getElementById('css-demo-transition');
    var demo3D = document.getElementById('css-demo-support3D');
    var demoTransform = document.getElementById('css-demo-transform');
    var returnTransform = document.getElementById('css-demo-return-transform');

    demoTransition.innerHTML = detect.css('transition');
    demo3D.innerHTML = detect.css('translate3d');
    demoTransform.innerHTML = detect.css('transform');

    returnTransform.innerHTML = detect.css(demoTransition, 'transition');
</script>