<h2>View</h2>
<p> Detect the device/window current view: <code>mobile</code> or <code>desktop</code>.</p>
<ul class="grey-bullets">
    <li>
        current view: <span id="view-demo"></span>
    </li>
    <li>
        is desktop: <span id="view-demo-is-desktop"></span>
    </li>
    <li>
        is mobile: <span id="view-demo-is-mobile"></span>
    </li>
</ul>

<script>
    function updateView(toolkit) {
        var view = toolkit.detect.view();
        var desktop = toolkit.detect.view('desktop');
        var mobile = toolkit.detect.view('mobile');

        document.querySelector('#view-demo').innerHTML = view;
        document.querySelector('#view-demo-is-desktop').innerHTML = desktop
        document.querySelector('#view-demo-is-mobile').innerHTML = mobile

    }

    window.onresize = updateView(toolkit);
    updateView(toolkit);
</script>